body {
    font: 400 12px/1.5 "Noto Sans JP", Helvetica, Arial, serif;
    color: #000;
    background: #f7f9fb;
    overflow-x: hidden;
    margin: auto;
    padding: 0
}
p {
    padding: 0;
    margin: 0
}
.text-common-bold,
.text-common-regular,
.top-banner-text,
.light-text-subtitle,
.al-intro-text,
.ranking-panel-text,
.ranking-panel-text-bold,
.post-details-text,
.post-desc-text,
.text-price
{
    color:#000 !important;
}

.panel-text,
.text-desc-lg,
.text-desc-sm{
    color:#fff !important;
}
.container-dark{
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
}
.header-top {
    padding: 18px 32px
}

.header-top>div>span {
    padding-left: 10px
}

.header-logo>img {
    display: none;
    max-height: 20px
}

#header-laptop {
    display: none
}

#header-mobile {
    display: inline-block
}

.text-price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: .08em;
    padding-top: 16px;
    padding-bottom: 24px
}

@media screen and (min-width:992px) {
    #header-laptop {
        display: inline-block
    }

    #header-mobile {
        display: none
    }

    .header-logo>img {
        display: inline-block;
        max-height: 28px
    }
}

.header-middle {
    padding: 2px 32px
}

.header-middle>div>span {
    padding-left: 10px
}

.header-bottom {
    padding: 2px 32px
}

.btn-top {
    padding: 11px 24px 12px;
    gap: 10px;
    background: #0171e2;
    border-radius: 44px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px
}

.top-img {
    width: 80%;
    margin-bottom: -10%;
    z-index: -1
}

.vjs-tech {
    border-radius: 24px
}

.title-top {
    line-height: 48px;
    letter-spacing: 18px;
    color: #b2bbc4
}

.title-middle {
    padding: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 99px;
    text-align: center;
    letter-spacing: .16em;
    color: #000
}

.title-bottom {
    font-weight: 700;
    font-size: 17px;
    line-height: 36px;
    text-align: center;
    letter-spacing: .32em
}

.first-banner {
    padding: 60px
}

.container-compare {
    padding: 50px;
    background-color: #fff;
    border-radius: 24px
}

.compare-table-title {
    padding: 20px 20px 50px 20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 45px;
    text-align: center;
    letter-spacing: .28em
}

.compare-table {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: .08em
}

.buy-link {
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    letter-spacing: .08em;
    color: #06c
}

.column-left {
    text-align: left
}

.column-center {
    color: #888
}

.column-right {
    color: #06c
}

.row-odd {
    background-color: #f5f5f7
}

.footer-top {
    background-color: #000;
    color: #b2bbc4;
    padding: 25px 60px 25px 60px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: .08em
}

.footer-middle {
    background-color: #181818;
    min-height: 120px;
    color: #fff
}

.contact-box {
    padding: 25px 10px
}

.contact-icon {
    font-size: 36px
}

.btn-contact {
    border-radius: 12px;
    font: 700 10px/1.5 "Noto Sans JP", Helvetica, Arial, serif;
    letter-spacing: .8px;
    margin: 5px 0
}

.contact-text {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .08em;
    color: #fff
}

.contact-text-small {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #888
}

.contact-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    margin: 5px 0
}

.footer-bottom {
    background-color: #000;
    min-height: 50px
}

.footer-links {
    background-color: #000;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: .08em;
    color: #b2bbc4
}

.footer-links>ul {
    list-style: none
}

.footer-links>ul>li>a {
    color: #b2bbc4
}

.footer-links>ul>li>a:hover {
    color: #fff
}

.footer-copyright {
    padding: 25px 0;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: .08em;
    color: #b2bbc4
}

.payment-list {
    text-align: center
}

.payment-list>img {
    height: 24px;
    margin: 10px
}

.social-network {
    color: #b2bbc4;
    font-weight: 400;
    font-size: 20px
}

.social-network>span {
    margin-left: 20px
}

.translate-top {
    transform: translate(-50%, -100%) !important;
    font-size: 14px
}

.row-top {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #fff;
    border-radius: 10px 10px 0 0
}

.row-top-grey {
    background-color: #bdbdbd;
    width: 90%;
    margin-left: 5%
}

.row-top-blue {
    background-color: #06c
}

.grid-header {
    margin-top: -1rem;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #fff;
    border-radius: 10px 10px 0 0
}

.highlight-grey {
    width: 90%;
    height: 100%;
    border: 2px solid #bdbdbd;
    border-radius: 10px;
    margin-left: 5%
}

.highlight-blue {
    width: 100%;
    height: 100%;
    border: 2px solid #06c;
    border-radius: 10px
}

.highlight-blue-dot {
    width: 95%;
    height: 68%;
    border: 2px dashed #06c;
    border-radius: 10px
}

.highlight-caption {
    font-size: 6px;
    line-height: 12px;
    color: #fff;
    background: linear-gradient(to right, #b18bec, #97cace);
    padding: 0 5px;
    border-radius: 5px
}

.container-2 {
    background-color: #181818
}

.container-3 {
    background-color: #f5f5f7
}

.ranking-list {
    background-color: #fff;
    border-radius: 15px;
    font-size: 16px
}

.ranking-list>img {
    width: 100%
}

.container-4 {
    background-color: #fff;
    min-height: 100px
}

.btn-select {
    border-radius: 20px
}

.product-box {
    background-color: #fff;
    border-radius: 15px
}

.product-box>a {
    color: #06c !important
}

.product-box>img {
    width: 100%
}

.p-details {
    background-color: #fff
}

.btn-details {
    padding: 10px;
    border-radius: 20px
}

.group-btn-float {
    position: fixed;
    top: 110px;
    right: 32px
}

.top-banner-title {
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 18px;
    color: #b2bbc4
}

.top-banner-text {
    text-align: center;
    font-weight: 700
}

.top-banner-heading-sm {
    font-size: 17px;
    line-height: 36px;
    letter-spacing: .32em;
    margin-top: 16px
}

.top-banner-heading-lg {
    font-size: 68px;
    line-height: 99px;
    letter-spacing: .16em;
    margin-top: 40px
}

.container-2 {
    min-height: 200px;
    background-color: #181818
}

.product-row-black {
    background-color: #000;
    color: #fff;
    margin-bottom: 32px;
    border-radius: 40px;
    padding: 100px 20px
}

.video-panel {
    padding-top: 216px;
    padding-bottom: 195px
}

.dog-img-float {
    margin-bottom: -60%
}

.panel-float-right {
    width: 60%;
    float: right
}

.text-gradient {
    font-size: 90px;
    line-height: 131px;
    font-weight: 700;
    letter-spacing: .08em
}

.text-gradient-margin-n {
    margin-left: -70px
}

.text-desc-sm {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: .16em
}

.desc-float-right {
    max-width: 60%;
    margin-left: auto
}

.text-desc-lg {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: .16em
}

.al-intro-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: .16em
}

.details-panel {
    background-color: #181818
}

.product-list-lg {
    background: #1d1d1f;
    border-radius: 32px;
    margin: 16px
}

.product-list-small {
    background: #1d1d1f;
    padding: 20px;
    border-radius: 32px;
    color: #fff;
    margin: 8px
}

.panel-text-bold {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    letter-spacing: .08em
}

.panel-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: .08em
}

.panel-text-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    color: #fff;
    letter-spacing: .28em
}

.light-text-title {
    font-weight: 700;
    font-size: 68px;
    line-height: 99px;
    text-align: center;
    letter-spacing: .08em;
    padding-top: 50px;
    padding-bottom: 0
}

.light-text-subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .08em;
    margin: 32px 0
}

.text-common-bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: .08em
}

.text-common-regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .08em
}

.text-gradient-1 {
    background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
    -webkit-background-clip: text;
    color: transparent
}

.text-gradient-2 {
    background-image: linear-gradient(90deg, #ca9090 0, #d499b2 100%);
    -webkit-background-clip: text;
    color: transparent
}

.text-gradient-3 {
    background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
    -webkit-background-clip: text;
    color: transparent
}

.ranking-panel {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    margin: 12px
}

.review-img {
    background-size: contain;
    width: auto;
    height: 93px;
    background-position-x: center
}
.review-img-bg-1 {
    background-image: url(../images/lp_dog/review_img_1_portrait.webp);
    background-repeat: no-repeat;
}
.review-img-bg-2 {
    background-image: url(../images/lp_dog/review_img_2_portrait.webp);
    background-repeat: no-repeat;
}
.review-img-bg-3 {
    background-image: url(../images/lp_dog/review_img_3_portrait.webp);
    background-repeat: no-repeat;
}


.ranking-panel-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .08em;
    margin-bottom: 0
}

.ranking-panel-text-bold {
    font-weight: 700;
    font-size: 17px;
    line-height: 26px
}

.link-panel {
    border-radius: 15px
}

.icon-panel>img {
    width: 100%;
    max-width: 114px
}

.panel-blue {
    border: 1px solid #06c;
    border-radius: 10px
}

.post-desc-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: .08em
}

.post-details-text {
    margin-top: 8px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: .08em
}

.btn-details-lg {
    background-color: #06c;
    padding: 12px 24px;
    border-radius: 44px
}

.text-grey {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #888
}
.text-grey-sm{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #888
}
@media only screen and (max-width:1400px) {
    p {
        padding: 0;
        margin: 0
    }

    .group-btn-float {
        position: fixed;
        top: 110px;
        right: 32px
    }

    .main-container {
        margin-top: 0
    }

    .top-banner-title {
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 18px;
        color: #b2bbc4;
        margin-top: 73px
    }

    .top-banner-text {
        text-align: center;
        font-weight: 700
    }

    .top-banner-heading-sm {
        font-size: 17px;
        line-height: 36px;
        letter-spacing: .32em;
        margin-top: 16px
    }

    .top-banner-heading-lg {
        font-size: 68px;
        line-height: 99px;
        letter-spacing: .16em;
        margin-top: 40px
    }

    .container-2 {
        min-height: 200px;
        background-color: #181818
    }

    .product-row-black {
        background-color: #000;
        color: #fff;
        margin-bottom: 32px;
        border-radius: 40px;
        padding: 100px 20px
    }

    .video-panel {
        padding-top: 216px;
        padding-bottom: 195px
    }

    .dog-img-float {
        margin-bottom: -60%
    }

    .panel-float-right {
        width: 60%;
        float: right
    }

    .text-gradient {
        font-size: 65px;
        line-height: 90px;
        font-weight: 700;
        letter-spacing: .08em
    }

    .text-gradient-margin-n {
        margin-left: -70px
    }

    .text-desc-sm {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em;
        margin-bottom: 32px
    }

    .text-desc-lg {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em
    }

    .al-intro-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em
    }

    .details-panel {
        background-color: #181818
    }

    .product-list-lg {
        background: #1d1d1f;
        border-radius: 32px;
        margin: 16px
    }

    .product-list-small {
        background: #1d1d1f;
        padding: 20px;
        border-radius: 32px;
        color: #fff;
        margin: 8px
    }

    .panel-text-bold {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .08em;
        color: #fff;
        margin-bottom: 5px
    }

    .panel-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: .08em
    }

    .panel-text-title {
        font-weight: 700;
        font-size: 38px;
        line-height: 55px;
        color: #fff;
        letter-spacing: .28em
    }

    .light-text-title {
        font-weight: 700;
        font-size: 68px;
        line-height: 99px;
        text-align: center;
        letter-spacing: .08em;
        padding-top: 150px;
        padding-bottom: 60px
    }

    .light-text-subtitle {
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        letter-spacing: .08em;
        margin: 32px 0
    }

    .text-common-bold {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: .08em
    }

    .text-common-regular {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em
    }

    .text-gradient-1 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-2 {
        background-image: linear-gradient(90deg, #ca9090 0, #d499b2 100%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-3 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .ranking-panel {
        background: #fff;
        padding: 24px;
        border-radius: 16px;
        margin: 12px
    }

    .review-img {
        width: auto;
        height: 93px;
        background-position-x: center
    }
    .review-img-bg-1 {
        background-image: url(../images/lp_dog/review_img_1_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-2 {
        background-image: url(../images/lp_dog/review_img_2_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-3 {
        background-image: url(../images/lp_dog/review_img_3_portrait.webp);
        background-repeat: no-repeat;
    }

    .ranking-panel-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em;
        margin-bottom: 0
    }

    .ranking-panel-text-bold {
        font-weight: 700;
        font-size: 17px;
        line-height: 26px
    }

    .link-panel {
        border-radius: 15px
    }

    .icon-panel>img {
        width: 100%;
        max-width: 114px
    }

    .panel-blue {
        border: 1px solid #06c;
        border-radius: 10px
    }

    .btn-details-lg {
        background-color: #06c;
        padding: 12px 24px;
        border-radius: 44px
    }

    .text-grey {
        color: #888;
        min-height: 60px
    }
}

@media only screen and (max-width:1200px) {
    p {
        padding: 0;
        margin: 0
    }

    .group-btn-float {
        position: fixed;
        top: 106px;
        right: 32px
    }

    .main-container {
        margin-top: 0
    }

    .top-banner-title {
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 18px;
        color: #b2bbc4;
        margin-top: 36px
    }

    .top-banner-text {
        text-align: center;
        font-weight: 700
    }

    .top-banner-heading-sm {
        font-size: 17px;
        line-height: 36px;
        letter-spacing: .32em;
        margin-top: 16px
    }

    .top-banner-heading-lg {
        font-size: 58px;
        line-height: 80px;
        letter-spacing: .16em;
        margin-top: 36px
    }

    .container-2 {
        min-height: 200px;
        background-color: #181818
    }

    .product-row-black {
        background-color: #000;
        color: #fff;
        margin-bottom: 32px;
        border-radius: 40px;
        padding: 100px 20px
    }

    .video-panel {
        padding-top: 150px;
        padding-bottom: 110px
    }

    .dog-img-float {
        margin-bottom: -60%
    }

    .panel-float-right {
        width: 60%;
        float: right
    }

    .text-gradient {
        font-size: 56px;
        line-height: 70px;
        font-weight: 700;
        letter-spacing: .08em
    }

    .text-gradient-margin-n {
        margin-left: -70px
    }

    .text-desc-sm {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: .16em
    }

    .text-desc-lg {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em
    }

    .al-intro-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .16em
    }

    .details-panel {
        background-color: #181818
    }

    .product-list-lg {
        background: #1d1d1f;
        border-radius: 32px;
        margin: 16px
    }

    .product-list-small {
        background: #1d1d1f;
        padding: 20px;
        border-radius: 32px;
        color: #fff;
        margin: 8px
    }

    .panel-text-bold {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .08em;
        color: #fff;
        margin-bottom: 5px
    }

    .panel-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: .08em
    }

    .panel-text-title {
        font-weight: 700;
        font-size: 38px;
        line-height: 55px;
        color: #fff;
        letter-spacing: .28em
    }

    .light-text-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        text-align: center;
        letter-spacing: .08em;
        padding-top: 60px;
        padding-bottom: 30px
    }

    .light-text-subtitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: .08em;
        margin: 20px 0
    }

    .text-common-bold {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: .08em
    }

    .text-common-regular {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em
    }

    .text-gradient-1 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-2 {
        background-image: linear-gradient(90deg, #ca9090 0, #d499b2 100%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-3 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .ranking-panel {
        background: #fff;
        padding: 24px;
        border-radius: 16px;
        margin: 12px
    }

    .review-img {
        width: auto;
        height: 93px;
        background-position: center
    }

    .review-img-bg-1 {
        background-image: url(../images/lp_dog/review_img_1_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-2 {
        background-image: url(../images/lp_dog/review_img_2_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-3 {
        background-image: url(../images/lp_dog/review_img_3_portrait.webp);
        background-repeat: no-repeat;
    }

    .ranking-panel-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em;
        margin-bottom: 0
    }

    .ranking-panel-text-bold {
        font-weight: 700;
        font-size: 17px;
        line-height: 26px
    }

    .link-panel {
        border-radius: 15px
    }

    .icon-panel>img {
        width: 100%;
        max-width: 114px
    }

    .panel-blue {
        border: 1px solid #06c;
        border-radius: 10px
    }

    .btn-details-lg {
        background-color: #06c;
        padding: 12px 24px;
        border-radius: 44px
    }

    .text-grey {
        color: #888;
        min-height: 60px
    }
}

@media only screen and (max-width:992px) {
    p {
        padding: 0;
        margin: 0
    }

    .group-btn-float {
        position: fixed;
        top: 110px;
        right: 32px
    }

    .main-container {
        margin-top: 60px
    }

    .top-banner-title {
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 18px;
        color: #b2bbc4
    }

    .top-banner-text {
        text-align: center;
        font-weight: 700
    }

    .top-banner-heading-sm {
        font-size: 17px;
        line-height: 36px;
        letter-spacing: .32em;
        margin-top: 16px
    }

    .top-banner-heading-lg {
        font-size: 56px;
        line-height: 99px;
        letter-spacing: .16em;
        margin-top: 40px
    }

    .container-2 {
        min-height: 200px;
        background-color: #181818
    }

    .product-row-black {
        background-color: #000;
        color: #fff;
        margin-bottom: 32px;
        border-radius: 40px;
        padding: 68px 20px
    }

    .video-panel {
        padding-top: 108px;
        padding-bottom: 96px
    }

    .dog-img-float {
        margin-bottom: -60%
    }

    .panel-float-right {
        width: 60%;
        float: right
    }

    .text-gradient {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
        letter-spacing: .08em
    }

    .text-gradient-margin-n {
        margin-left: -70px
    }

    .text-desc-sm {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: .16em;
        margin-bottom: 32px
    }

    .text-desc-lg {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em
    }

    .al-intro-text {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: .16em
    }

    .details-panel {
        background-color: #181818
    }

    .product-list-lg {
        background: #1d1d1f;
        border-radius: 32px;
        margin: 16px
    }

    .product-list-small {
        background: #1d1d1f;
        padding: 20px;
        border-radius: 32px;
        color: #fff;
        margin: 8px
    }

    .panel-text-bold {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .08em;
        color: #fff;
        margin-bottom: 5px
    }

    .panel-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: .08em
    }

    .panel-text-title {
        font-weight: 700;
        font-size: 38px;
        line-height: 55px;
        color: #fff;
        letter-spacing: .28em
    }

    .light-text-title {
        font-weight: 700;
        font-size: 55px;
        line-height: 75px;
        text-align: center;
        letter-spacing: .08em;
        padding-top: 80px;
        padding-bottom: 30px
    }

    .light-text-subtitle {
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        letter-spacing: .08em;
        margin: 18px 0
    }

    .text-common-bold {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: .08em
    }

    .text-common-regular {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em
    }

    .text-gradient-1 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-2 {
        background-image: linear-gradient(90deg, #ca9090 0, #d499b2 100%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-3 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .ranking-panel {
        background: #fff;
        padding: 24px;
        border-radius: 16px;
        margin: 12px
    }

    .review-img {
        width: auto;
        height: 93px;
        background-position: center
    }

    .review-img-bg-1 {
        background-image: url(../images/lp_dog/review_img_1_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-2 {
        background-image: url(../images/lp_dog/review_img_2_portrait.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-3 {
        background-image: url(../images/lp_dog/review_img_3_portrait.webp);
        background-repeat: no-repeat;
    }

    .ranking-panel-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em;
        margin-bottom: 0
    }

    .ranking-panel-text-bold {
        font-weight: 700;
        font-size: 17px;
        line-height: 26px
    }

    .link-panel {
        border-radius: 15px
    }

    .icon-panel>img {
        width: 100%;
        max-width: 114px
    }

    .panel-blue {
        border: 1px solid #06c;
        border-radius: 10px
    }

    .btn-details-lg {
        background-color: #06c;
        padding: 12px 24px;
        border-radius: 44px
    }

    .text-grey {
        color: #888;
        min-height: 60px
    }
}

@media only screen and (max-width:768px) {
    p {
        padding: 0;
        margin: 0
    }

    .group-btn-float {
        position: fixed;
        top: 64px;
        right: 16px
    }

    .main-container {
        margin-top: 60px
    }

    .top-banner-title {
        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: .5em;
        color: #b2bbc4
    }

    .top-banner-text {
        text-align: center;
        font-weight: 700
    }

    .top-banner-heading-sm {
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        letter-spacing: .16em;
        margin-top: 16px
    }

    .top-banner-heading-lg {
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        letter-spacing: .16em;
        margin-top: 32px
    }

    .top-img {
        width: 90%
    }

    .container-2 {
        background-color: #181818
    }

    .product-row-black {
        background-color: #000;
        color: #fff;
        margin-bottom: 32px;
        border-radius: 40px;
        padding: 60px 0 20px 0 !important
    }

    .video-panel {
        padding-top: 60px;
        padding-bottom: 20px
    }

    .dog-img-float {
        margin-bottom: 0
    }

    .panel-float-right {
        width: auto
    }

    .text-gradient {
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: .16em
    }

    .text-gradient-margin-n {
        margin-left: 0
    }

    .details-panel {
        background-color: #181818
    }

    .product-list-lg {
        background: #1d1d1f;
        border-radius: 32px;
        margin: 5px
    }

    .product-list-small {
        background: #1d1d1f;
        padding: 16px;
        border-radius: 24px;
        color: #fff;
        margin: 8px
    }

    .panel-text-bold {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .08em;
        color: #fff;
        margin-bottom: 5px
    }

    .text-desc-sm {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        letter-spacing: .16em;
        margin-bottom: 20px
    }

    .desc-float-right {
        max-width: 92%;
        margin-left: auto
    }

    .text-desc-lg {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: .16em
    }

    .panel-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: .08em
    }

    .panel-text-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #fff;
        letter-spacing: .16em
    }

    .light-text-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        letter-spacing: .08em;
        padding-top: 56px;
        padding-bottom: 16px
    }

    .light-text-subtitle {
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        letter-spacing: .08em;
        margin-bottom: 40px
    }

    .al-intro-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em;
        text-align: center
    }

    .text-common-bold {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: .08em;
        padding-top: 40px;
        padding-bottom: 24px
    }

    .text-common-regular {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em
    }

    .text-gradient-1 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-2 {
        background-image: linear-gradient(90deg, #ca9090 0, #d499b2 100%);
        -webkit-background-clip: text;
        color: transparent
    }

    .text-gradient-3 {
        background-image: linear-gradient(90deg, #b490ca 6.77%, #99bbd4 66.67%);
        -webkit-background-clip: text;
        color: transparent
    }

    .ranking-panel {
        background: #fff;
        padding: 24px 12px;
        border-radius: 16px;
        margin: 8px 0
    }

    .review-img {
        width: auto;
        height: 60px;
        background-position: center;
        margin-bottom: 16px
    }

    .review-img-bg-1 {
        background-image: url(../images/lp_dog/review_img_1_landscape.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-2 {
        background-image: url(../images/lp_dog/review_img_2_landscape.webp);
        background-repeat: no-repeat;
    }
    .review-img-bg-3 {
        background-image: url(../images/lp_dog/review_img_3_landscape.webp);
        background-repeat: no-repeat;
    }

    .ranking-panel-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: .08em;
        margin-bottom: 0
    }

    .ranking-panel-text-bold {
        font-weight: 700;
        font-size: 17px;
        line-height: 26px
    }

    .p-details {
        padding: 0
    }

    .link-panel {
        border-radius: 15px
    }

    .icon-panel>img {
        width: 100%;
        max-width: 114px
    }

    .panel-blue {
        border: 1px solid #06c;
        border-radius: 10px
    }

    .btn-details-lg {
        background-color: #06c;
        padding: 12px 24px;
        border-radius: 44px
    }
}